init.author.name=Indrajeet Valera
init.author.email=indra4you@outlook.com
init.author.url=https://github.com/ValEXE-Technologies/Lookup.Services
//registry.npmjs.org/:_authToken=168ba1b4-cfc3-4039-b6b9-b71e7d73db95
scope=valexe-technologies
access=public
